{% extends 'index/index.html' %}

{% block head %}
<title>Blog</title>
{% endblock head %}

{% block header_block %}
{% endblock header_block %}

{% block body_block %}

    <a href={% url 'pages_list' %}>Volver</a>

    <form action ="" method='post' enctype="multipart/form-data">
        {% csrf_token %}
        <table>
            {{form.media}}
            {{form.as_table}}
        </table>
        <button>Enviar</button>
    </form>

{% endblock body_block %}



{% comment %} <form method='post'>
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit" value='Enviar'>
</form> {% endcomment %}