{% extends 'index/index.html' %}

{% block head %}
<title>Detalle</title>
{% endblock head %}

{% block header_block %}
{% endblock header_block %}

{% block body_block %}

        <a href={% url 'pages_list' %}>Volver</a>

        <p>{{object.title}}</p>
        <p>{{object.subtitle}}</p>
        <p>{{object.body | safe}}</p>
        <p><img src="{{object.image.url}}" alt="{{object.image}}"></p>
        <p>Autor: {{object.author}}</p>
        <p>Fecha de creación: {{object.date}}</p>

{% endblock body_block %}

{% block footer %}
{% endblock footer %}