{% extends 'index/index.html' %}

{% block head %}
<title>Lista</title>
{% endblock head %}

{% block header_block %}
{% endblock header_block %}

{% block body_block %}

    <p>
        <a href={% url 'pages_new' %}>Nueva entrada</a>
    </p>

    {% if object_list %}
        {% for page in object_list %}
                <ul>
                    <li>
                        {{page}}
                        <a href={% url 'pages_detail' page.id %}>Ver más</a>
                        <a href={% url 'pages_edit'  page.id %}>Editar</a>
                        <a href={% url 'pages_delete'  page.id %}>Borrar</a>
                    </li>
                </ul>
        {% endfor %}

    {% else %}
        <h3>No hay páginas aún</h3>
    {% endif %}
        
        
    

{% endblock body_block %}

{% block footer %}
{% endblock footer %}