{% extends 'index/index.html' %}

{% block head %}
<title>About</title>
{% endblock head %}

{% block header_block %}
{% endblock header_block %}

{% block body_block %}
    <h3>Acerca de mí</h3>
    <p>
        Mi nombre es Sergio Besser, tengo 31 años y vivo en CABA. Soy técnico en sonido, 
        trabajo en sonido en vivo y actualmente estoy estudiando programación.
    </p>

    <p>
        Este blog nace como propuesta de un proyecto final para el curso de Python de Coderhouse.
        La entrega consiste en crear una aplicación web estilo blog programada en Python con la 
        ayuda del framework Django.
    </p>

    <p>
        Mi idea era crear un blog dedicado al cine donde los usuarios puedan postear y recomendar
        diferentes peliculas de su agrado. Dentro del blog, los usuarios registrados podrán crear
        una nueva entrada con el título de la pelicula, junto con una imagen y una breve reseña 
        de la misma. Así también, el resto de los usuarios podrán recorrer dentro de la lista, 
        y buscar información sobre la pelicula de su interes, así como también nuevas recomendaciones.
    </p>
{% endblock body_block %}

